.serach_page_info{
    padding: 20px;
}
.serach_page_info > p{
    margin-bottom: 10px;
    font-size: 14px;
}
.serach_page_info > h1{
    margin-bottom: 30px;
}
.serach_page_info>button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}